<div class="row">
    <div class="col-sm-3">
      <div class="single-profile">
        <div class="profile-txt">
          <i class="fab fa-html5 fa-3x"></i>
        </div>
        <div class="single-profile-overlay">
          <div class="profile-txt">
            <i class="fab fa-html5 fa-2x"></i>
            <div class="profile-icon-name">HTML</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="single-profile">
        <div class="profile-txt">
          <i class="fab fa-css3-alt fa-3x"></i>
        </div>
        <div class="single-profile-overlay">
          <div class="profile-txt">
            <i class="fab fa-css3-alt fa-2x"></i>
            <div class="profile-icon-name">CSS</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="single-profile">
        <div class="profile-txt">
          <i class="fab fa-js-square fa-3x"></i>
        </div>
        <div class="single-profile-overlay">
          <div class="profile-txt">
            <i class="fab fa-js-square fa-2x"></i>
            <div class="profile-icon-name">Javascript</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="single-profile profile-no-border">
        <div class="profile-txt">
          <i class="fab fa-php fa-3x"></i>
        </div>
        <div class="single-profile-overlay">
          <div class="profile-txt">
            <i class="fab fa-php fa-2x"></i>
            <div class="profile-icon-name">PHP</div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  