<div class="row">
  <div class="col-sm-6">
    <div class="single-profile">
      <div class="profile-txt">
        <img src="assets/logo/next.png" />
      </div>
      <div class="single-profile-overlay">
        <div class="profile-txt ">
          <img src="assets/logo/next.png" />
          <div class="profile-icon-name">Next</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="single-profile profile-no-border">
      <div class="profile-txt">
        <img src="assets/logo/tailwindWhite.png" />
      </div>
      <div class="single-profile-overlay">
        <div class="profile-txt ">
          <img src="assets/logo/tailwindBlack.png" />
          <div class="profile-icon-name">Tailwind</div>
        </div>
      </div>
    </div>
  </div>
</div>
