<div class="col-sm-8">
    <div class="portfolio-container">
      <div class="timeline-content">
        <h4 class="title">drum kit</h4>
        <p class="bold">HTML, CSS, JS</p>
        <p class="description">
          Play drums online with an easy-to-use web app.
        </p>
      </div>
      <!--/.timeline-content-->
      <div class="timeline-content">
        <h4 class="title">simon</h4>
        <p class="bold">HTML, CSS, JS</p>
        <p class="description">
          A basic online game designed to enhance your memory skills.
        </p>
      </div>
      <!--/.timeline-content-->
      <div class="timeline-content">
        <h4 class="title">keeper</h4>
        <p class="bold">HTML, CSS, JS</p>
        <p class="description">
          A basic web application to manage notes, developed using
          <span>React JS</span>.
        </p>
      </div>
      <!--/.timeline-content-->
      <div class="timeline-content">
        <h4 class="title">Yogyakarta city population statistics</h4>
        <p class="bold">HTML, CSS, JS, PHP, MySQL</p>
        <p class="description">
          A web-based platform for visualizing population statistics
          and data summaries of Yogyakarta City, developed using
          <span>Laravel</span> and <span>Bootstrap</span>.
        </p>
      </div>
      <!--/.timeline-content-->
      <div class="timeline-content">
        <h4 class="title">Sinar Laundry</h4>
        <p class="bold">HTML, CSS, JS, PHP, MySQL</p>
        <p class="description">
          A website to run a laundry business, with features such as
          automated WhatsApp reminders to customers and a loyalty
          points system to reward repeat order, developed using
          <span>Laravel</span> and <span>Bootstrap</span>.
        </p>
      </div>
      <!--/.timeline-content-->
      <div class="timeline-content">
        <h4 class="title">Social Media</h4>
        <p class="bold">Clerk Auth, React, Tailwind CSS, PosgreSQL</p>
        <p class="description">
          A simple social media app , with features such as manage
          profile, add post, comment, story, follow, and like,
          developed using
          <span>Next 15</span> and <span>Prisma ORM</span>.
        </p>
      </div>
    </div>
  </div>