<div class="col-sm-4">
  <div class="item">
    <img src="assets/images/portfolio/drum.png" alt="portfolio image" />
    <div class="isotope-overlay">
      <a href="https://theodorusardhi.github.io/drum/" target="_blank">
        Live Demo
      </a>
    </div>
    <!-- /.isotope-overlay -->
  </div>
  <!-- /.item -->
  <div class="item">
    <img src="assets/images/portfolio/simon.png" alt="portfolio image" />
    <div class="isotope-overlay">
      <a href="https://theodorusardhi.github.io/simon/" target="_blank">
        Live Demo
      </a>
    </div>
    <!-- /.isotope-overlay -->
  </div>
  <!-- /.item -->
  <div class="item">
    <img src="assets/images/portfolio/keeper.png" alt="portfolio image" />
    <div class="isotope-overlay">
      <a href="https://f5q9mg.csb.app/" target="_blank"> Live Demo </a>
    </div>
    <!-- /.isotope-overlay -->
  </div>
  <!-- /.item -->
  <div class="item">
    <img src="assets/images/portfolio/statistik.png" alt="portfolio image" />
    <div class="isotope-overlay">
      <a href="http://statistikyk.wuaze.com" target="_blank"> Live Demo </a>
    </div>
    <!-- /.isotope-overlay -->
  </div>
  <!-- /.item -->
  <div class="item">
    <img src="assets/images/portfolio/sinar.png" alt="portfolio image" />
    <div class="isotope-overlay">
      <a href="http://sinarlaundry.wuaze.com" target="_blank"> Live Demo </a>
    </div>
    <!-- /.isotope-overlay -->
  </div>
  <!-- /.item -->
  <div class="item">
    <img src="assets/images/portfolio/frame.png" alt="portfolio image" />
    <div class="isotope-overlay">
      <a href="https://frame-ten-flax.vercel.app" target="_blank">
        Live Demo
      </a>
    </div>
    <!-- /.isotope-overlay -->
  </div>

  <!-- /.item -->
  <div class="item">
    <img src="assets/images/portfolio/api.png" alt="portfolio image" />
    <div class="isotope-overlay">
      <a href="https://github.com/TheodorusArdhi/Laravel-REST-API" target="_blank">
        Live Demo
      </a>
    </div>
    <!-- /.isotope-overlay -->
  </div>
</div>
