<section id="contact" class="contact">
  <div class="contact-heading text-center">
    <h2>contact me</h2>
    <div class="hm-foot-icon">
      <li>
        <a target="_blank" href="https://www.linkedin.com/in/theodorus-ardhi"
          ><i class="fa-brands fa-linkedin fa-2x"></i
        ></a>
      </li>
      <!--/li-->
      <li>
        <a target="_blank" href="https://www.instagram.com/theoardhiw/"
          ><i class="fa-brands fa-square-instagram fa-2x"></i
        ></a>
      </li>
      <!--/li-->
      <li>
        <a target="_blank" href="mailto:theo.dorusardi@gmail.com"
          ><i class="fa-solid fa-envelope fa-2x"></i
        ></a>
      </li>
      <!--/li-->
    </div>
    <!--/.hm-foot-icon-->
  </div>
</section>
